version: "3.9"

services:
  backend:
    image: amansong/song_go:v1
    container_name: song-go
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
    restart: unless-stopped
    networks:
      - app-network

  tunnel:
    image: amansong/cloudflare:v1
    container_name: cloudflared-tunnel
    restart: always
    #command: tunnel --no-autoupdate --url http://backend:3000
    command: tunnel --no-autoupdate run --token ${TUNNEL_TOKEN}
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge